*.slo
*.lo
*.o
*.pyc
*.pyo
*.so
*.lai
*.la
*.a
*.log
*.bak
*.pb.h
*.pb.cc
*_pb2.py
*.compiled
*.mutex
/src/surveyor/*.theory.cpp
*.language
/data/
/build/
/cov-int/
*.egg-info/
/src/editor/node_modules
