*.slo
*.lo
*.o
*.pyc
*.pyo
*.so
*.lai
*.la
*.a
*.log
*.bak
*.pb.h
*.pb.cc
*_pb2.py
*.mutex
*.pstats
temp.*
/pomagma/tags
/pomagma/cscope.*
/pomagma/theory/*.symbols
/pomagma/theory/*.facts
/pomagma/theory/*.programs
/pomagma/theory/*.tasks
/pomagma/language/*.language
/data/
/build/
/cov-int/
*.egg-info/
/dist/
.cache/
.hypothesis/
.ipynb_checkpoints
__pycache__
prof
.venv/
compile_commands.json

# vcpkg
/vcpkg/
/vcpkg_installed/

# eclipse
/.cproject
/.project
