
body {
    background-color: black;
    color: white;
    width:  100%;
    height: 100%;
    margin: 0px;
}

pre,
input {
    font-family: Consolas,'Liberation Mono','Courier New',Courier,monospace;
    font-size: 10pt;
}

#toolbar input {
    background-color: white;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: solid 0.2em gray;
    border-radius: 1em;
    margin: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#toolbar input:focus {
    border-color: #fc7;
}

div#code pre {
    color: #aaf;
    margin: 0.5em;
}
span.keyword {
    color: #ffa;
}
span.constant {
    color: #afa;
    font-weight: bold;
}
span.variable {
    color: #fff;
}
span.cursor {
    background-color: #040;
}
span.cursor:before {
    position: absolute;
    content: '';
    border: 0.1em solid green;
}
