
body {
    background-color: black;
    color: white;
    width:  100%;
    height: 100%;
    margin: 0px;
}

div#code pre {
    font-family: Consolas,'Liberation Mono','Courier New',Courier,monospace;
    font-size: 10pt;
    color: #aaf;
    margin: 0.5em;
}
span.keyword {
    color: #ffa;
}
span.constant {
    color: #afa;
    font-weight: bold;
}
span.variable {
    color: #fff;
}
span.cursor {
    background-color: #440;
}
/*
span#cursor:before {
    position: absolute;
    content: ' ';
    color: black;
    border: solid #fc7;
    border-width: 0em 0em 0em 0.2em;
}
*/
