
body {
    background-color: black;
    color: white;
    width:  100%;
    height: 100%;
    margin: 0px;
}

pre,
input {
    font-family: Consolas,'Liberation Mono','Courier New',Courier,monospace;
    font-size: 10pt;
}

#toolbar input {
    background-color: white;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: solid 0.2em gray;
    border-radius: 1em;
    margin: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#toolbar input:focus {
    border-color: #fc7;
}

pre {
    margin: 0.5em;
}

span.cursor {
    background-color: gray;
}
span.keyword {
    color: #ccc;
    font-weight: bold;
}
